---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const allPosts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const recentPosts = allPosts.slice(0, 10);
---

<Layout title="BLOG">
  <main>
    <h1>BLOG</h1>
    <section>
      <h2>最新文章</h2>
      <ul>
        {recentPosts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`}>
              <h3>{post.data.title}</h3>
              <time datetime={post.data.pubDate.toISOString()}>
                {post.data.pubDate.toLocaleDateString('zh-CN')}
              </time>
            </a>
          </li>
        ))}
      </ul>
    </section>
  </main>
</Layout>
